* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.p1 {
	font-size: 21px;
	font-weight: lighter;
	color: gray;
}

small {
	color: gray;
	font-weight: bold;
}

main img {
	-webkit-box-shadow: 0px 4px 25px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 4px 25px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 4px 25px -5px rgba(0, 0, 0, 0.75);
	border-radius: 8px;
	margin-top: 60px;
	margin-bottom: 60px;
}

.py-3 {
	text-decoration: underline;
	text-decoration-color: yellow;
}
